@font-face
    font-family: "Poppins"
    src: url("../../public/fonts/Poppins/Poppins-Regular.ttf")

  


@import "./_variables.sass"

@import "../../node_modules/bootstrap/scss/bootstrap.scss"

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"

@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"

@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"


    

body 
    font-family: Poppins

.livingroom
    background-image: url("../../public/img/services/service-1.jpg")

.salesitems
    background-image: url("../../public/img/services/service-2.jpg")

.clothes
    background-image: url("../../public/img/services/slider-3.jpg")

hr 
    border: 2px solid white


#greatproducts
    background-image: url('../../public/img/cta-bg.jpg')
    height: 45vh